/*PALETTE DEI COLORI*/
$GialloOcra: rgb(244,180,41);
$VerdeAcqua: rgb(73,169,135);
$BiancoCrema: rgb(254,247,233);
$GrigioScuro: rgb(51,51,51);
$GrigioMezzo: rgb(91, 91, 91);
$BiancoPuro: rgb(255,255,255);
$GrigioChiaro: rgb(198,196,196);
$BluGrigiastro: rgb(51,71,91);

/*SFONDI*/
/*Background Image di Header e del Footer*/
$BackgroundHeaderAndFooter: url(/src/assets/materiale/images/hero-07-2x.jpg);
/*Background Image della terza sezione*/
$BackgroundSectionThree: url(/src/assets/materiale/images/banner.jpg);
/*Background Image della sesta sezione*/
$BackgroundSectionSix: url(/src/assets/materiale/images/banner-2.jpg);
/*Background prima card sezione dell'Authorbook*/
$BackgroundFirstCard: url(/src/assets/materiale/images/box-1.jpg);
/*Background seconda card sezione dell'Authorbook*/
$BackgroundSecondCard: url(/src/assets/materiale/images/box-4.jpg);
/*Background terza card sezione dell'Authorbook*/
$BackgroundThirdCard: url(/src/assets/materiale/images/box-3.jpg);

/*ALTEZZE SEZIONI*/
/*Big Size*/
$Big: 1000px;
/*Medium Size*/
$Medium: 700px;
/*Normal Size*/
$Normal: 500px;
/*Small Size*/
$Small: 250px;

